:root {
    --primary-color: #222222;
    --secondary-color: #888888;
    --background: #f5f5f5;
    --highlight-color: #E24E4E;
    --highlight-color2: #cc3c3c;
    --light-color: #dddddd;
}

body {
    margin: 0;
    font-family: "Times New Roman", Times, serif;
    background-color: var(--background);
    color: var(--primary-color);
}

main {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    width: 80px;
    height: 30px;
    padding: 4px 12px;
    margin: 0;
    border: none;
    border-radius: 4px;

}
.lightButton {
    background: var(--highlight-color);
    transition: all 0.2s  ease;
}
.darkButton {
    background: var(--primary-color);
    transition: all 0.4s ease;
}

.lightButton:hover {
    width: 76px;
    height: 28px;
    margin: 4px 2px;
    background: var(--highlight-color2);
    border-radius: 16px;
}
.darkButton:hover {
    width: 76px;
    height: 28px;
    margin: 4px 2px;
    background: #000;
    border-radius: 16px;
}

h1 {
    margin-bottom: 20px;
}

h2 {
    margin: 10px 0;
}

p {
    margin-bottom: 0;
}