:root {
    --light-color-100: #f4f2ef;
    --light-color-200: #e6e2de;
    --light-color-300: #dcd6d2;
    --light-color-400: #CCC4C2;
    --light-color-500: #D1CBC0;
    --dark-color-100: #42454C;
    --dark-color-200: #242527;
    --dark-color-300: #151617;
    --highlight-color-100: #dd5c5c;
    --highlight-color-200: #cc4242;
}

/** {*/
/*    outline: 1px solid rgba(0,0,0,0.1);*/
/*}*/

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    align-items: start;
    font-family: "Times New Roman", Times, serif;
    background-color: var(--light-color-100);
    color: var(--light-color-200);
    transition: all 0.25s ease;
}

#root {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body.light header {background: var(--light-color-300)}
body.dark header {background: var(--dark-color-200)}

header > div {
    width: 90%;
    min-height: 60px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}
header > div > .column {
    flex: 1 1 30%;
    min-width: 0;
    word-wrap: break-word;
}

.header-buttons {
    max-width: 100%;
    padding: 8px 0;
    justify-self: flex-end;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
}

footer {
    width: 100%;
    height: 60px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
}

footer > * {
    align-self: center;
    justify-self: center;
}

body.light footer { background: var(--light-color-200);}
body.dark footer { background: var(--dark-color-100);}


main {
    flex: 1;
    padding: 45px 0;
    margin: 0;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.switchButton {
    min-width: 28px;
    height: 28px;
    padding: 0;
    margin: 0;
}
.switchButton:hover {
    min-width: 28px;
    height: 28px;
    padding: 0;
    margin: 0;
}

body.light .switchButton {background: var(--light-color-100); color: var(--highlight-color-100); }
body.light .switchButton:hover {background: var(--highlight-color-100); color: var(--light-color-500); }
body.dark .switchButton {background: var(--dark-color-300); color: var(--highlight-color-200); }
body.dark .switchButton:hover {background: var(--dark-color-100)}



button {
    min-width: 90px;
    height: 35px;
    padding: 4px 12px;
    margin: 0;
    border: none;
    border-radius: 4px;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    text-align: center;
    transition: all 0.25s  ease;
    cursor: pointer;
    wrap-option: nowrap;
}

button:hover {
    min-width: 95px;
    padding: 4px 16px
}


body.light .lightButton {background: var(--highlight-color-100); color: var(--light-color-100); }
body.light .lightButton:hover {background: var(--highlight-color-200)}
body.dark  .lightButton {background: var(--highlight-color-200); color: var(--light-color-100); }
body.dark  .lightButton:hover {background: var(--highlight-color-200)}

body.light .darkButton {background: var(--dark-color-200); color: var(--light-color-100);}
body.light .darkButton:hover {background: var(--dark-color-300)}
body.dark .darkButton {background: var(--light-color-200);}
body.dark .darkButton:hover {background: var(--light-color-300)}

body.light .adminButton  {
    background: var(--light-color-200);
    border: 2px solid  var(--highlight-color-100);
    color: var(--dark-color-200);
}

body.light .adminButton:hover {
    background: var(--light-color-200);
    border: 2px solid  var(--highlight-color-200);
    color: var(--dark-color-100);
}
body.dark .adminButton  {
    background: var(--dark-color-300);
    border: 2px solid  var(--highlight-color-100);
    color: var(--light-color-200);
}

body.dark .adminButton:hover {
    background: var(--dark-color-200);
    border: 2px solid  var(--highlight-color-200);
    color: var(--light-color-100);
}

h1 {
    margin-bottom: 20px;
    margin-top: 10px;
}

h2 {
    margin: 0;
}

h3 {
    margin: 5px 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

body.dark {
    background-color: var(--dark-color-300);
    color: var(--light-color-100);
}

body.light {
    background-color: var(--light-color-100);
    color: var(--dark-color-300);
}

body.light input, body.light textarea { background: var(--light-color-200); color: var(--dark-color-300); }
body.dark input, body.dark textarea { background: var(--dark-color-200); color: var(--light-color-100); }


dl {
    display: grid;
    grid-template-columns: max-content 1fr;
    row-gap: 0.5rem;
    column-gap: 1rem;
}
dt {
    font-weight: bold;
}
dd {
    font-size: 2.2rem;
    margin: 0;
}

input, textarea {
    width: 100%;
    height: 40px;
    margin: 0;
    font-family: inherit;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background: var(--light-color-200);
    text-indent: 8px;
}

.logo {
    height: auto;
    fill: var(--light-color-100); /* default fill color */
    transition: fill 0.3s ease;
}


.logo-container {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.InputForm {
    width: 300px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}