:root {
    --light-color-100: #f4f2ef;
    --light-color-200: #e6e2de;
    --light-color-300: #dcd6d2;
    --light-color-400: #CCC4C2;
    --light-color-500: #D1CBC0;
    --dark-color-100: #42454C;
    --dark-color-200: #242527;
    --dark-color-300: #151617;
    --highlight-color-100: #dd5c5c;
    --highlight-color-200: #cc4242;
}

/** {*/
/*    outline: 1px solid rgba(0,0,0,0.1);*/
/*}*/

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    align-items: start;
    font-family: "Times New Roman", Times, serif;
    background-color: var(--light-color-100);
    color: var(--light-color-200);
    transition: all 0.25s ease;
}



#root {
    width: 100%;
    min-height: 100%;
}
header {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body.light header {
    background: var(--light-color-300);
}
body.dark header {
    background: var(--dark-color-200);
}


header > div {
    width: 90%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

body.light footer {
    background: var(--light-color-200);
}
body.dark footer {
    background: var(--dark-color-100);
}


main {
    width: 100%;
    padding: 45px 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    min-width: 90px;
    height: 35px;
    padding: 4px 12px;
    margin: 0;
    border: none;
    border-radius: 4px;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    text-align: center;
    transition: all 0.25s  ease;
    cursor: pointer;
    wrap-option: nowrap;
}

button:hover {
    min-width: 95px;
    padding: 4px 16px
}

body.light .lightButton {background: var(--highlight-color-100); color: var(--light-color-100); }
body.light .lightButton:hover {background: var(--highlight-color-200)}
body.dark  .lightButton {background: var(--highlight-color-200); color: var(--light-color-100); }
body.dark  .lightButton:hover {background: var(--highlight-color-200)}

body.light .darkButton {background: var(--dark-color-200); color: var(--light-color-100);}
body.light .darkButton:hover {background: var(--dark-color-300)}
body.dark .darkButton {background: var(--light-color-200);}
body.dark .darkButton:hover {background: var(--light-color-300)}

body.light .adminButton  {
    background: var(--light-color-200);
    border: 2px solid  var(--highlight-color-100);
    color: var(--dark-color-200);
}

body.light .adminButton:hover {
    background: var(--light-color-200);
    border: 2px solid  var(--highlight-color-200);
    color: var(--dark-color-100);
}
body.dark .adminButton  {
    background: var(--dark-color-200);
    border: 2px solid  var(--highlight-color-100);
    color: var(--light-color-200);
}

body.dark .adminButton:hover {
    background: var(--dark-color-200);
    border: 2px solid  var(--highlight-color-200);
    color: var(--light-color-100);
}

h1 {
    margin-bottom: 20px;
    margin-top: 10px;
}

h2 {
    margin: 0;
}

h3 {
    margin: 5px 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

body.dark {
    background-color: var(--dark-color-300);
    color: var(--light-color-100);
}

body.light {
    background-color: var(--light-color-100);
    color: var(--dark-color-100);
}

dl {
    display: grid;
    grid-template-columns: max-content 1fr;
    row-gap: 0.5rem;
    column-gap: 1rem;
}
dt {
    font-weight: bold;
}
dd {
    margin: 0;
}

input {
    width: 100%;
    height: 40px;
    margin: 0;
    font-family: inherit;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background: var(--light-color-200);
    text-indent: 8px;
}

.logo {
    height: auto;
    fill: var(--light-color-100); /* default fill color */
    transition: fill 0.3s ease;
}

body.light .logo {
    fill: var(--dark-color-200);
}

body.dark .logo {
    fill: var(--light-color-100);
}

.logo-container {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}