:root {
    --primary-color: #222222;
    --secondary-color: #DFD7D4;
    --background: #EEE8E6;
    --highlight-color: #E24E4E;
    --highlight-color2: #cc3c3c;
    --light-color: #dddddd;
}

/** {*/
/*    outline: 1px solid rgba(0,0,0,0.1);*/
/*}*/

body {
    margin: 0;
    padding: 0;
    align-items: start;
    font-family: "Times New Roman", Times, serif;
    background-color: var(--background);
    color: var(--primary-color);
}

#root {
    width: 100%;
    min-height: 100vh;
}
header {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--secondary-color);
}

header > div {
    width: 90%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer {
    color: var(--primary-color);
}

.navbar {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    color: var(--highlight-color);
}

main {
    width: 100%;
    padding: 45px 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    width: 90px;
    height: 35px;
    padding: 4px 12px;
    margin: 0;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    transition: all 0.2s  ease;
}

button:hover {
    font-size: 18.4px;
}

.lightButton {
    background: var(--highlight-color);
}

.darkButton {
    background: var(--primary-color);
}

.lightButton:hover {
    /*width: 76px;*/
    /*height: 28px;*/
    /*margin: 4px 2px;*/
    background: var(--highlight-color2);
    /*border-radius: 16px;*/
}

.darkButton:hover {
    /*width: 76px;*/
    /*height: 28px;*/
    /*margin: 4px 2px;*/
    background: #000;
    /*border-radius: 16px;*/
}

h1 {
    margin-bottom: 20px;
    margin-top: 10px;
}

h2 {
    margin: 0;
}

h3 {
    margin: 5px 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

