.Articles {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.GoBack {
    cursor: pointer;
    width: fit-content;
}

.comments {
    width: 100%;
    justify-self:  center;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.comment {
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    padding: 10px  5px;
    border: 1px solid var(--light-color-300);
    border-radius: 3px;
}

.commentTime {
    color: var(--dark-color-000)
}

.active {
    color: var(--highlight-color-100)
}

@media (max-width: 950px) {
    .Articles {
        width: 80%;
    }
}
