.Articles {
    /*width: calc(100cqw - max(40%,60px));*/
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 15px;
}

.Filters {
    /*height: 160px;*/
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 5px;
    align-self: start;
    flex-wrap: wrap;
    transition: height 0.25s ease;
}