.Underline {
    margin-left: 15px;
    width: 61.8%;
    height: 4px;
    background-color: var(--highlight-color);
    transition: width 0.6s ease;
}

.SmallLine {
    width: 90%;
    margin: 0 auto;
    height: 2px;
    background-color: var(--light-color);
}

.Articles {
    /*width: calc(100cqw - max(40%,60px));*/
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.Filters {
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    transition: all 0.5s ease;
}

.FilterCon {
    width: 240px;
}

.Filter {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.FilterDropdown {
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: var(--secondary-color);
    border-radius: 2px;
}

select[multiple] {
    width: 100%;
    height: 100%;
    padding: 6px;
    border: none;
    border-radius: 4px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    overflow-y: auto;
    transition: height 2s ease;
}

.smallArticleCon {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.smallArticle {
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
}
.smallArticle:hover .Underline {
    background-color: var(--highlight-color2);
    width: 75%;

}



.imageWrapper {
    width: 300px;
    height: 169px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cccccc;
    overflow: hidden;
}


.smallArticlesDesc {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.smallArticlesHeader{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ItemCon {
    width: 100%;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 5px;
}

.ItemBox {
    padding: 2px 6px;
    min-width: 30px;
    text-align: center;
    background-color: var(--light-color);
    border-radius: 2px;
}




/*select[multiple]:hover {*/
/*    height: fit-content;*/
/*}*/
/*.FilterCon:hover {*/
/*    height: 120px;*/
/*}*/

@media (max-width: 950px) {
    /*.smallArticles {*/
    /*    width: 80%;*/
    /*}*/

    .smallArticlesDesc > p {
        display: none;
    }

    .smallArticlesDesc > div > p {
        display: none;
    }
}