.Articles {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}


.GoBack {
    cursor: pointer;
    width: fit-content;
}

@media (max-width: 950px) {
    .Articles {
        width: 80%;
    }
}
