
.Filters {
    /*height: 160px;*/
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: start;
    gap: 5px;
    transition: all 0.5s ease;
    flex-wrap: wrap;
    /*align-self: start;*/
}