.header {
    width: 70%;
    height: 90px;
    padding-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.Articles {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.firstArticle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    gap: 15px;
}

.firstArticle {
    pointer-events: none;
}


.firstArticle > * {
    pointer-events: auto;
}

.FirstImageWrapper {
    width: 100%;
    aspect-ratio: 16 / 9;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cccccc;
    overflow: hidden;
}


.firstArticle > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.MidLine {
    width: 30%;
    margin: 0 auto;
    height: 2px;
    background-color: var(--light-color);
}
