.header {
    width: 60%;
    height: 90px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.Articles {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.firstArticle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    gap: 15px;
}

.FirstImageWrapper {
    width: 100%;
    aspect-ratio: 16 / 9;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cccccc;
    overflow: hidden;
}


.firstArticle > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.MidLine {
    width: 30%;
    margin: 0 auto;
    height: 2px;
    background-color: var(--light-color);
}

.Underline {
    margin-left: 15px;
    width: 61.8%;
    height: 4px;
    background-color: var(--highlight-color);
}

.SmallLine {
    width: 90%;
    margin: 0 auto;
    height: 2px;
    background-color: var(--light-color);
}

.smallArticles {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.smallArticleCon {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.smallArticle {
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.imageWrapper {
    width: 300px;
    height: 169px;
    background-color: #cccccc;
    overflow: hidden;
}

.imageWrapper {
    width: 300px;
    height: 169px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cccccc;
    overflow: hidden;
}

.smallArticlesDesc {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.smallArticlesDesc > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media (max-width: 950px) {
    .Articles {
        width: 80%;
    }
    .smallArticlesDesc > p {
        display: none;
    }

    .smallArticlesDesc > div > p {
        display: none;
    }
}