.header {
    width: 70%;
    height: 90px;
    padding-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.Articles {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}


.firstArticle > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.MidLine {
    width: 30%;
    margin: 0 auto;
    height: 2px;
    background-color: var(--highlight-color-100);
}

.smallArticles {
    /*margin: 0 auto;*/
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 15px;
}