.FormCon {
    justify-self:  center;
    align-self: center;
    padding: 15% 0 5% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ChangeMode {
    width: 100%;
    text-align: center;
}

.ChangeMode > span > strong {
    text-decoration: underline;
    cursor: pointer;
}

.halfForm {
    width: 47%;
}

.Label {
    display: block;
    font-weight: bold;
}
