button {
    transition: color 1.6s ease;
}

.FormCon {
    justify-self:  center;
    align-self: center;
    padding: 15% 0 5% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ChangeMode {
    width: 100%;
    text-align: center;
}

.ChangeMode > span > span {
    text-decoration: underline;
    cursor: pointer;
}