.FormCon {
    justify-self:  center;
    align-self: center;
    padding: 15% 0 5% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ChangeMode {
    width: 100%;
    text-align: center;
}

.ChangeMode > span > strong {
    text-decoration: underline;
    cursor: pointer;
}


:global(body.light) .Input { background: var(--light-color-200); color: var(--dark-color-300); }
:global(body.dark) .Input { background: var(--dark-color-200); color: var(--light-color-100); }

.InputForm {
    width: 300px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.halfForm {
    width: 47%;
}

.Label {
    display: block;
    font-weight: bold;
}
