.login-container {
    margin: auto;
    padding: 30px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form {
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    max-width: 100%;
    margin-bottom: 16px;
}

.error-message {
    color: red;
    font-weight: bold;
}

.btn {
    all: unset;
    height: 30px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    padding: 0 10px;
    text-align: center;
}
.btn:hover {
    background-color: #2980b9;
    text-decoration: none;
    color: white;
}
