dl {
    display: grid;
    grid-template-columns: max-content 1fr;
    row-gap: 0.5rem;
    column-gap: 1rem;
}
dt {
    font-weight: bold;
}
dd {
    margin: 0;
}

.FormCon {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.InputForm {
    width: 300px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.InputForm label {
    width: 100%; /* Make full-width by default */
}

.halfForm {
    width: 48% !important
}
