body {
    color: #1a1a1a;
    justify-content: center;
}

.user-page-container {
    justify-self: center;
    align-self: center;
    max-width: 700px;
    margin: auto;
    padding: 30px;
    background: white;
}

.user-list {
    list-style: none;
    padding: 0;
}

.user-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #eee;
    gap: 10px;
}

.user-actions {
    display: flex;
    justify-content: right;
    gap: 10px;
}

.buttons {
    box-shadow: none;
    display: flex;
    justify-content: left; align-items: center;
    gap: 10px;
}

.btn {
    all: unset;
    height: 30px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    padding: 0 10px;
    text-align: center;
}
.btn:hover {
    background-color: #2980b9;
    text-decoration: none;
    color: white;
}