.Filter {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.FilterCon {
    width: 180px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.FilterCon > label {
    height: 24px;
}

select {
    height: 35px;
    text-indent: 6px;
    border: none;
    border-radius: 4px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    overflow-y: auto;
    transition: height 2s ease;
}


.ItemCon {
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 5px;
}

.ItemBox {
    padding: 2px 6px;
    min-width: 30px;
    text-align: center;
    background-color: var(--light-color);
    border-radius: 2px;
    transition: all 0.2s ease;
}

.ItemBox:hover {
    background-color: var(--primary-color);
    cursor: pointer;
}