.Filter {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.FilterCon {
    width: 180px;
    display: flex;
    flex-direction: column;
}

.FilterCon > label {
    height: 20px;
}

select {
    height: 35px;
    text-indent: 6px;
    border: none;
    border-radius: 2px;
    background-color: var(--light-color-200);
    color: var(--dark-color-100);
    overflow-y: auto;
    cursor: pointer;
    transition: all 0.35s ease;
    margin-bottom: 5px;
}


.ItemCon {
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 5px;

}

select:hover {
    background-color: var(--light-color-300);

}

.ItemBox {
    padding: 2px 6px;
    min-width: 30px;
    text-align: center;
    align-content: center;
    background-color: var(--light-color-300);
    color: var(--dark-color-100);
    border-radius: 2px;
    transition: all 0.2s ease;
}

.ItemBox:hover {
    background-color: var(--light-color-500);
    cursor: pointer;
}