.Underline {
    margin-left: 15px;
    width: 61.8%;
    height: 4px;
    background-color: var(--highlight-color);
    transition: all 0.5s ease;
}

.SmallLine {
    width: 90%;
    margin: 0 auto;
    height: 2px;
    background-color: var(--light-color);
}

.smallArticleCon h2, .smallArticleCon p, .smallArticleCon .imageWrapper {
    pointer-events: auto;
}
.smallArticleCon {
    pointer-events: none;
}

.smallArticlesDesc {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.smallArticleCon {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.smallArticle {
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;

}
.smallArticle:hover .Underline {
    background-color: var(--highlight-color2);
    width: 75%;

}

.imageWrapper {
    width: 300px;
    height: 169px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cccccc;
    overflow: hidden;
}

.smallArticlesDesc {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.smallArticlesHeader{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.ItemCon {
    width: 100%;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 5px;
}

.ItemBox {
    padding: 2px 6px;
    min-width: 30px;
    text-align: center;
    background-color: var(--light-color);
    border-radius: 2px;
}


@media (max-width: 950px) {
    .smallArticlesDesc > p {
        display: none;
    }

    .smallArticlesDesc > div > p {
        display: none;
    }
}