.Underline {
    margin-left: 15px;
    width: 61.8%;
    height: 4px;
    background-color: var(--highlight-color-100);
    transition: all 0.25s ease;
}

.SmallLine {
    width: 90%;
    margin: 0 auto;
    height: 2px;
    /*background-color: var(--dark-color-100);*/
}
:global(body.dark)  .SmallLine {
    background-color: var(--dark-color-100);
}
:global(body.light) .SmallLine {
    background-color: var(--light-color-300);
}

.smallArticleCon h2, .smallArticleCon p, .smallArticleCon .imageWrapper {
    pointer-events: auto;
    cursor: pointer;
}

.smallArticleCon {
    width: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    pointer-events: none;
}

.smallArticlesDesc {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.smallArticle {
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.smallArticle:hover .Underline {
    background-color: var(--highlight-color-200);
    margin-left: 20px;
    width: 75%;

}

.imageWrapper {
    width: 300px;
    height: 169px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    filter: brightness(0.95);
    transition: all 0.25s ease;
}

.imageWrapper img {
    width: 100%;
    filter: brightness(0.95);
    transition: all 0.25s ease;
}

.imageWrapper:hover img {
    transform: scale(1.05);
    filter: brightness(1.05);
}

.smallArticlesDesc {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

.smallArticlesHeader{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.smallArticlesHeader h2 {
    padding-bottom: 5px;
}

.ItemCon {
    max-height: 55px;
    overflow-y: hidden;
    width: 100%;
    /*height: 30px;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 5px;
}

.ItemBox {
    padding: 2px 6px;
    min-width: 30px;
    text-align: center;
    align-content: center;

    border-radius: 2px;
}

.Icons {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 6px;

}

.Icons > div {
    display: flex;
    align-items: center;
    gap: 3px;
}

.Icon {
    fill: var(--highlight-color-100);
}

:global(body.dark) .ItemBox {
    background-color: var(--dark-color-200);
    color: var(--light-color-500);
}

:global(body.light) .ItemBox {
    background-color: var(--light-color-200);
    color: var(--dark-color-100);
}

@media (max-width: 950px) {
    .imageWrapper {
        min-width: 200px;
        width: 200px;
        height: 120px
    }

    .smallArticlesDesc > p {
        display: none;
    }

    .smallArticlesHeader > span {
        display: none;
    }

    .smallArticlesDesc > div > p {
        display: none;
    }
}